@-moz-document regexp("https://.*\\.facebook\\.com/.*") {
/* Hidden GIF */
    /* Workplace Chat */
    img._mxz.img,
    img._52mr.img[src*=".gif?oh="] {
        visibility: hidden;
    }
    /* Chat on workplace */
    ._55pk._59go ._4yp6._3lk2 div[style*=".gif?oh="] {
        visibility: hidden;
    }
    /* Post comment */
    ._53j5 video {
        visibility: hidden;
    }
}